html{
    font-size: 16px;
    background-image: url("bac.jpg");

    background-size:contain;

}

*{
    padding:0;
    margin:0;
}



header h1{
    font-size:6rem;
    padding: 25px;
    color: transparent;
    -webkit-text-stroke: 0.3px black;
    font-weight:600;
    background-clip: padding-box;
    background:url("./fontdec.png");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: font 60s linear infinite;

}
@keyframes font{
    100%{
        background-position: 10000px 0;
    }
}

header ul{
    list-style-type:none;
    display:flex;
    justify-content: right;

    position:fixed;
    top:20px;
    right:0;


}

header a{
    font-size: 22px;
    padding: 15px;
    margin:15px;
    text-decoration: none;
    color:white;
    border-radius: 1000px;
    transition-property:font-size;
    transition-duration: 1s;



}
header a:hover{

    font-size:30px;
    background-color:rgba(119,136,153,0.9);

}



.intro {

    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    padding-top:100px;
    padding-bottom:100px;



}

.intro .text {

    padding:100px ;

}

.intro h2{
    padding:10px;
}

.intro img{
    height: 400px;
    width:auto;
}


.play h2{
    font-size:32px;
    font-weight: bold;
    padding-bottom: 20px;;

}

.play h3{
    font-size:24px;
    font-weight: bold;
    padding-bottom: 10px;;

}

#click, #reset{
    font-size: 25px;;
}

.play .ball{
    height:600px;
    width:600px;
    display:block;
    background-color: white;
    margin-bottom: 40px;
    position:relative;
}


#circle{
    width: 100px;
    height: 100px;
    background: skyblue;
    border-radius: 50px;
    left:43%;
    top:43%;
    transition-property: bottom, top, left ,right;

    transition-duration: 2s;
    position:absolute;
}



.projects .title{
    display:flex;
    align-items: center;
    font-size: 30px;
}
.projects .title img{
    height:35px;
}
.projects li{
    padding:10px 0 10px 25px;

    font-weight: bold;
}

.projects a{
    cursor:pointer;
    font-size:25px;
}
.resume h2{
    padding:10px 0  ;
    font-weight: bold;
    font-size:35px;

}
.resume .social{
    display:flex;
    align-items: center;

}

.resume a{
    padding:10px 0 10px 25px;
    font-weight: bold;
    font-size:30px;
}
.resume img{

    height:30px;
}


footer h2{
    padding :20px;
    float:right;
}
footer h2:hover{
    cursor: pointer;
    font-size:32px;
    background-color: hsla(350, 100%, 88%,0.7);
    border-radius: 500px;

}


.submit form {

    display:flex;
    flex-flow: column ;
    align-items: flex-end;
}
